header{
    background-color:red;
  }
  nav{
    background-color:orange;
  }
  main{
    background-color:green;
  }
  article{
    background-color: blue;
  }
  footer{
    background-color: violet;
  }
  